body {
  margin: 0;
  font-family: 'Mulish', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.jumbo {
  background-color: rgba(255, 255, 255, 0.75);
}

.btn,
.btn.active,
.btn:disabled {
  color: white;
  background-color: orange;
  border: 1px solid orange;
  transition: ease-in-out .25s;
}

.btn:hover {
  background-color: rgb(224, 189, 122);
  border: 1px solid rgb(224, 189, 122);
}

.btn.active {
  color: orange !important;
  border-color: orange !important;
}

.btn:active,
.btn:focus {
  background-color: darkorange !important;
  border-color: darkorange !important;
}

.btn.focus {
  box-shadow: none;
}

.quizBtn {
  color: white !important;
}

.center {
  max-width: 50%;
  margin: auto;
}

/* SCROLL BAR  */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: #ffd17d; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffd17d; 
}

