body {
  margin: 0;
  font-family: 'Mulish', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.jumbo {
  background-color: rgba(255, 255, 255, 0.75);
}

.btn,
.btn.active,
.btn:disabled {
  color: white;
  background-color: orange;
  border: 1px solid orange;
  transition: ease-in-out .25s;
}

.btn:hover {
  background-color: rgb(224, 189, 122);
  border: 1px solid rgb(224, 189, 122);
}

.btn.active {
  color: orange !important;
  border-color: orange !important;
}

.btn:active,
.btn:focus {
  background-color: darkorange !important;
  border-color: darkorange !important;
}

.btn.focus {
  box-shadow: none;
}

.quizBtn {
  color: white !important;
}

.leaderboard-btn,
.leaderboard-btn.active,
.leaderboard-btn:disabled {
  margin: 10px;
  color: white;
  background-color: orange;
  border: 1px solid orange;
  transition: ease-in-out .25s;
}

.leaderboard-btn:hover {
  background-color: rgb(224, 189, 122);
  border: 1px solid rgb(224, 189, 122);
  color: white;
}

.leaderboard-btn.active {
  color: orange !important;
  border-color: orange !important;
}

.leaderboard-btn.focus {
  box-shadow: none;
}

.center {
  max-width: 50%;
  margin: auto;
}

/* List Styling for Leaderboard */
.list {
  max-width: 250px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.background {
  background-color: orange;
  margin: auto !important;
  width: 45%;
  padding: 50px !important;
  overflow: auto;
  max-height: 50%;
}

h3 {
  color: white;
  font-weight: bolder;
}

/* SCROLL BAR  */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: palegoldenrod; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: orange; 
}

@media only screen and (max-width: 600px) {
  .background {
    width: 100%;
  }
  .list {
    max-width: 50%;
  }
}
