.active {
    background-color: #fff !important;
    color: #007bff !important;
}

nav {
    background-color: orange;
}

body {
    background-image: url('./assets/background-pattern.png');
    font-family: 'Mulish', sans-serif;
}

.pr-2 {
    color: orange;
}

.icons {
    color: orange;
}